body {
    font-family: 'Syne Mono', monospace;
    background-color: #ffffff;
    margin: 5px;
    padding: 30px;
    color: #0000ff;
}

h1 {
    color: #0000ff;
    text-align: center;
    font-size: 2em;
}


.banner {
    display: block;
    align-items: center;
    justify-items: center;
    margin: 20px;
    float: center;
    margin: 0;
    object-fit: initial;
    max-width: 100%;
    margin-top: 10px;
}


 nav {
     color: #0000ff;
     margin: 0 auto;
     text-align: center;
     overflow: hidden;
     float: center;
     color: #ffffff;
     text-align: center;
     padding: 9px 9px;
     text-decoration: none;
     font-size: 20px;

}

.navbar a {
    color: #6fff00;
    text-decoration: none;
  }
  
  .navbar a:hover {
    border-bottom: .25rem solid var(--orange);
    padding-bottom: .5rem;
    color:#0015ff; }


.artwork {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 100px;
    align-items: center;
    justify-items: center;
    margin: 10px;
    overflow: hidden;
    float: center;
    margin: 0;
  }
 
  .art {
    object-fit: initial;
    max-width: 100%;

  }
  



  
 